# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# ML models
# =========================
models/
*.cbm
*.pkl
*.joblib
*.model

# =========================
# Large datasets
# =========================
data/raw/
*.csv
*.parquet
*.feather

# =========================
# Kaggle / temporary files
# =========================
tmp/
temp/
.cache/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE settings
# =========================
.vscode/
.idea/
.streamlit/secrets.toml
